@import './variables.scss';
@import './mixin.scss';
@import './transition.scss';
@import './element-ui.scss';
@import './sidebar.scss';
.el-dialog__body{
    padding: 0 10px!important;
}
.dialog_item{
    width: 100%;
    .search_item{
        display: inline-block;
        vertical-align: top;
        box-sizing: border-box;
        width: auto;
        margin-right: 10px;
        font-size: 14px;
        .search_label{
            display: inline-block;
            vertical-align: top;
            line-height: 30px;
            height: 30px;
            font-size: 14px;
        }
        .search_input{
            width: 135px;
            display: inline-block;
            vertical-align: top;
            line-height: 30px;
            height: 30px;
            font-size: 14px;
            border: 1px solid #E0E0E0;
            border-radius: 4px;
            padding-left: 5px;
        }
    }
}
.search_items{
    width: 100%;
    text-align: center;
    .search_item{
        display: inline-block;
        vertical-align: top;
        box-sizing: border-box;
        width: auto;
        margin-right: 10px;
        font-size: 14px;
        padding-bottom: 26px;
        .search_label{
            display: inline-block;
            vertical-align: top;
            line-height: 30px;
            height: 30px;
            font-size: 14px;
            text-align: right;
            width: 100px;
            margin-right: 10px;
        }
        .search_input{
            width: 135px;
            display: inline-block;
            vertical-align: top;
            line-height: 30px;
            height: 30px;
            font-size: 14px;
            border: 1px solid #E0E0E0;
            border-radius: 4px;
            padding-left: 5px;
        }
    }
}
