//@import './variables.scss';
//@import './mixin.scss';
//@import './transition.scss';
//@import './element-ui.scss';
//@import './sidebar.scss';
//
//body {
//  height: 100%;
//  -moz-osx-font-smoothing: grayscale;
//  -webkit-font-smoothing: antialiased;
//  text-rendering: optimizeLegibility;
//  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
//}
//
//label {
//  font-weight: 700;
//}
//
//html {
//  height: 100%;
//  box-sizing: border-box;
//}
//
//#app {
//  height: 100%;
//}
//
//*,
//*:before,
//*:after {
//  box-sizing: inherit;
//}
//
//a:focus,
//a:active {
//  outline: none;
//}
//
//a,
//a:focus,
//a:hover {
//  cursor: pointer;
//  color: inherit;
//  text-decoration: none;
//}
//
//div:focus {
//  outline: none;
//}
//
//.clearfix {
//  &:after {
//    visibility: hidden;
//    display: block;
//    font-size: 0;
//    content: " ";
//    clear: both;
//    height: 0;
//  }
//}
//
//// main-container global css
//.app-container {
//  padding: 20px;
//}
//
//.form-item-show {
//  font-size: 14px;
//  color: #8c8f95;
//}
//
//.filter-container {
//  .filter-item {
//      display: inline-block;
//    }
//}
//
//.table-inner-mtm {
//  font-size: 11px;
//  color: #FFFFFF;
//  padding: 2px;
//  border: 2px solid transparent;
//  border-radius:4px;
//  margin: 2px;
//  user-select: none;
//  background-color: #FFA500;
//}
//
//.table-inner-button {
//  margin-top: 2px;
//  margin-bottom: 2px;
//}

@import './variables.scss';
@import './mixin.scss';
@import './transition.scss';
@import './element-ui.scss';
@import './sidebar.scss';
@import './btn.scss';
@import "./treeselect.scss";

body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

label {
  font-weight: 700;
}

html {
  height: 100%;
  box-sizing: border-box;
}

#app {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.no-padding {
  padding: 0 !important;
}

.padding-content {
  padding: 4px 0;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

div:focus {
  outline: none;
}

.fr {
  float: right;
}

.fl {
  float: left;
}

.pr-5 {
  padding-right: 5px;
}

.pl-5 {
  padding-left: 5px;
}

.mr-10 {
  margin-right: 10px;
}

.ml-10 {
  margin-left: 10px;
}
.block {
  display: block;
}

.pointer {
  cursor: pointer;
}

.inlineBlock {
  display: block;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

//main-container全局样式
.app-container {
  padding: 20px 20px 0;
}

.components-container {
  margin: 30px 50px;
  position: relative;
}

.pagination-container {
  margin-top: 15px;
}

.text-center {
  text-align: center
}

.sub-navbar {
  height: 50px;
  line-height: 50px;
  position: relative;
  width: 100%;
  text-align: right;
  padding-right: 20px;
  transition: 600ms ease position;
  background: linear-gradient(90deg, rgba(32, 182, 249, 1) 0%, rgba(32, 182, 249, 1) 0%, rgba(33, 120, 241, 1) 100%, rgba(33, 120, 241, 1) 100%);

  .subtitle {
    font-size: 20px;
    color: #fff;
  }

  &.draft {
    background: #d0d0d0;
  }

  &.deleted {
    background: #d0d0d0;
  }
}

.link-type,
.link-type:focus {
  color: #337ab7;
  cursor: pointer;

  &:hover {
    color: rgb(32, 160, 255);
  }
}

.filter-container {
  .filter-item {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 10px;
  }
}

//refine vue-multiselect plugin
.multiselect {
  line-height: 16px;
}

.multiselect--active {
  z-index: 1000 !important;
}

.el-dialog__title {
  display: inline-block;
}

[class^="el-icon-fa"], [class*=" el-icon-fa"] {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome !important;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
i.iconfont{
  font-family: "iconfont", serif;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.el-button [class*=fa-]+span {
  margin-left: 5px;
}
.el-button [class*=icon-]+span {
  margin-left: 5px;
}
.filter-container{
  overflow: hidden;
  .el-form-item {
    margin-bottom: 10px;
  }
}

.button-container{
  margin-bottom: 15px;
}

.el-dropdown-link {
  cursor: pointer;
  color: #409EFF;
}

.table-inner-button {
  margin-top: 2px;
  margin-bottom: 2px;
}

.avatar {
  width: 200px;
  height: 150px;
  display: block;
}

.avatar-uploader .el-upload {
  border: 1px dashed #d9d9d9;
  border-radius: 6px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.avatar-uploader .el-upload:hover {
  border-color: #409EFF;
}
.avatar-uploader-icon {
  font-size: 28px;
  color: #8c939d;
  width: 178px;
  height: 178px;
  line-height: 178px;
  text-align: center;
}
.global-loading-style{
  position: relative;
  z-index: 99999999!important;
}
// 解决穿梭框 第一个元素 与 第二个元素间 存在空白格
.el-transfer-panel__item{
  display: block!important;
}
